body {
    text-align: center;
    color: darkblue;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-weight: bold;
    margin: 50px 0;
}

h2 {
    margin: 50px 0;
}

button {
    cursor: pointer;
    border-color: darkblue;
    border-radius: 3px;
    width: 150px;
    height: 50px;
    color: darkblue;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

button:hover {
    background-color: lightblue;
    font-weight: bold;
}

.grid-container {
    display: grid;
    margin: 50px 33%;
    height: 300px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
}

.grid-item {
    background-color: lightblue;
    font-weight: bold;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#players {
    visibility: hidden;
}